*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.head{
    height: 100%;
    background-color: #A10000;
    text-align: center;
    padding: 8px;
    margin-bottom: 4px;
}

.title{
    font-size: 48px;
    padding: 16px;
    padding-bottom: 8px;
}

.moto{
    font-size: 14px;
    padding-bottom: 16px; 
}

.list-container{
    height: 100%;
    width: 20%;
    margin-left: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.top-box,
.bottom-box{
    padding: 8px;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #A10000;
    box-shadow: 2.5px 2.5px 10px 2.5px #530000;
    background-color: #F2F2F2;
    padding: 8px;
}


.topTitle,
.bottomTitle{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 4px;
}

.genre-title,
.movie-title{
    font-size: 24px;
    font-weight: bold;
}

.genre-subtitle,
.movie-subtitle{
    font-style: italic;
    font-size: 12px;
}

.scrollTop,
.scrollBottom{
    height: 300px;
    overflow: auto;
    overflow-y: auto;
}

.scrollTop{
    height: 200px
}

.scrollBottom{
    height: 500px;
}

