*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.head{
    height: 100%;
    background-color: #A10000;
    text-align: center;
    padding: 8px;
    margin-bottom: 12px;
}

.title{
    font-size: 48px;
    padding: 16px;
    padding-bottom: 8px;
}

.moto{
    font-size: 14px;
    padding-bottom: 16px; 
}

.list-container{
    display: flex;
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    
}

.left-box,
.right-box{
    display: flex;
    padding: 8px;
    border: 1px;
    border-radius: 25px;
    border-style: solid;
    border-color: #A10000;
    box-shadow: 5px 5px 20px 5px #530000;
    margin-right: 8px;
}

.left-box{
    flex-grow: 1;
}

.right-box{
    flex-grow: 2;
}