*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.head{
    height: 100%;
    background-color: #A10000;
    text-align: center;
    padding: 8px;
    margin-bottom: 12px;
}

.title{
    font-size: 48px;
    padding: 16px;
    padding-bottom: 8px;
}

.moto{
    font-size: 14px;
    padding-bottom: 16px; 
}

.list-container{
    display: flex;
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    
}

.left-box,
.right-box{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #A10000;
    box-shadow: 2.5px 2.5px 10px 2.5px #530000;
    margin-inline: 16px;
    background-color: #F2F2F2;
}

.left-box{
    flex-grow: 1;
}

.right-box{
    flex-grow: 2;
}

.leftTitle,
.rightTitle{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 4px;
}

.genre-title,
.movie-title{
    font-size: 24px;
    font-weight: bold;
}

.genre-subtitle,
.movie-subtitle{
    font-style: italic;
    font-size: 12px;
}

.scrollLeft,
.scrollRight{
    height: 300px;
    overflow: hidden;
    overflow-y: hidden;
}